# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
base_url = 'https://maps.googleapis.com/maps/api/geocode/json'

file = "../output_data/cities.csv"

temp_pd = pd.read_csv(file)

temp_pd["Lat"] = ""
temp_pd["Lng"] = ""

temp_pd.head()

        City Country Lat Lng
0  ostrovnoy      RU
1  mahebourg      MU
2    qaanaaq      GL
3     zhuhai      CN
4  cape town      ZA

In [10]:
params = {"key": g_key}
count = 0

In [12]:
for index, row in temp_pd.iterrows():
    city = row['City']
    country = row['Country']
   
    params['address'] = f"{city},{country}"
    
    cities_lat_lng = requests.get(base_url, params=params)
    cities_lat_lng = cities_lat_lng.json()
    #pprint(cities_lat_lng)
    
    try:
        temp_pd.loc[index, "Lat"] = cities_lat_lng["results"][0]['geometry']['location']['lat']
        temp_pd.loc[index, "Lng"] = cities_lat_lng['results'][0]['geometry']['location']['lng']
        count += 1
        print(f'The record count is {count} City: {city}')
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    
temp_pd.head()

The record count is 2 City: ostrovnoy
The record count is 3 City: mahebourg
The record count is 4 City: qaanaaq
The record count is 5 City: zhuhai
The record count is 6 City: cape town
The record count is 7 City: atuona
The record count is 8 City: flinders
The record count is 9 City: opuwo
The record count is 10 City: tiksi
The record count is 11 City: pushkinskiye gory
The record count is 12 City: aykhal
The record count is 13 City: castro
The record count is 14 City: avarua
The record count is 15 City: saskylakh
Missing field/result... skipping.
The record count is 16 City: albany
The record count is 17 City: vilyuysk
The record count is 18 City: ushuaia
The record count is 19 City: bambous virieux
The record count is 20 City: kodinsk
The record count is 21 City: teknaf
The record count is 22 City: busselton
The record count is 23 City: ambon
The record count is 24 City: maragogi
The record count is 25 City: fallon
The record count is 26 City: kantang
The record count is 27 City: colonelganj
The record count is 28 City: punta arenas
The record count is 29 City: rikitea
The record count is 30 City: new norfolk
The record count is 31 City: gobabis
The record count is 32 City: qingdao
The record count is 33 City: port hardy
Missing field/result... skipping.
The record count is 34 City: mamakan
The record count is 35 City: bethel
The record count is 36 City: clinton
The record count is 37 City: varhaug
Missing field/result... skipping.
The record count is 38 City: mayor pablo lagerenza
The record count is 39 City: hermanus
The record count is 40 City: torbay
The record count is 41 City: yellowknife
The record count is 42 City: kruisfontein
The record count is 43 City: puerto ayora
The record count is 44 City: rosita
The record count is 45 City: beloha
The record count is 46 City: port elizabeth
The record count is 47 City: port alfred
The record count is 48 City: garchitorena
The record count is 49 City: kodiak
The record count is 50 City: mar del plata
Missing field/result... skipping.
The record count is 51 City: cabo san lucas
The record count is 52 City: tiarei
The record count is 53 City: khatanga
The record count is 54 City: pisco
The record count is 55 City: kolyvan
The record count is 56 City: hofn
The record count is 57 City: bontang
The record count is 58 City: sault sainte marie
The record count is 59 City: zhigansk
The record count is 60 City: thompson
The record count is 61 City: pevek
The record count is 62 City: nanortalik
The record count is 63 City: bilibino
The record count is 64 City: dikson
The record count is 65 City: hambantota
The record count is 66 City: beja
Missing field/result... skipping.
The record count is 67 City: ponta do sol
The record count is 68 City: qasigiannguit
The record count is 69 City: butaritari
The record count is 70 City: virginia beach
The record count is 71 City: hobyo
The record count is 72 City: saint george
The record count is 73 City: pontes e lacerda
Missing field/result... skipping.
The record count is 74 City: crotone
The record count is 75 City: baglung
The record count is 76 City: raglan
The record count is 77 City: jamestown
Missing field/result... skipping.
The record count is 78 City: araouane
The record count is 79 City: emerald
The record count is 80 City: launceston
The record count is 81 City: nikolskoye
The record count is 82 City: ambilobe
The record count is 83 City: cidreira
The record count is 84 City: ternate
The record count is 85 City: tarauaca
The record count is 86 City: bella vista
The record count is 87 City: xichang
The record count is 88 City: antioch
The record count is 89 City: najran
The record count is 90 City: agirish
The record count is 91 City: mataura
The record count is 92 City: katsuura
The record count is 93 City: shalinskoye
The record count is 94 City: barrow
The record count is 95 City: sorong
The record count is 96 City: kingston
The record count is 97 City: ketchikan
The record count is 98 City: kapaa
The record count is 99 City: mbigou
The record count is 100 City: yakeshi
The record count is 101 City: hilo
The record count is 102 City: whitehorse
The record count is 103 City: bonthe
Missing field/result... skipping.
The record count is 104 City: lompoc
The record count is 105 City: port blair
The record count is 106 City: bredasdorp
The record count is 107 City: thinadhoo
The record count is 108 City: koumac
The record count is 109 City: faanui
The record count is 110 City: xam nua
The record count is 111 City: east london
The record count is 112 City: sao filipe
The record count is 113 City: deputatskiy
The record count is 114 City: chuy
The record count is 115 City: sitka
The record count is 116 City: forio
The record count is 117 City: russkaya polyana
The record count is 118 City: san felipe
The record count is 119 City: arraial do cabo
The record count is 120 City: margate
The record count is 121 City: aklavik
The record count is 122 City: lokosovo
The record count is 123 City: paita
The record count is 124 City: cravo norte
The record count is 125 City: motygino
The record count is 126 City: west wendover
The record count is 127 City: adrar
The record count is 128 City: melfi
The record count is 129 City: kibaya
The record count is 130 City: iqaluit
The record count is 131 City: lavrentiya
The record count is 132 City: morondava
The record count is 133 City: vaini
The record count is 134 City: georgetown
The record count is 135 City: sanchazi
The record count is 136 City: sarai mir
The record count is 137 City: yichun
The record count is 138 City: plainview
The record count is 139 City: comodoro rivadavia
The record count is 140 City: nardaran
The record count is 141 City: nagua
Missing field/result... skipping.
The record count is 142 City: ganzhou
The record count is 143 City: talnakh
The record count is 144 City: coahuayana
The record count is 145 City: sinnamary
The record count is 146 City: porto novo
The record count is 147 City: havoysund
The record count is 148 City: bjornevatn
The record count is 149 City: narsaq
The record count is 150 City: charlestown
The record count is 151 City: trat
The record count is 152 City: manado
The record count is 153 City: trapani
The record count is 154 City: sao joao da barra
The record count is 155 City: saint-philippe
The record count is 156 City: haines junction
The record count is 157 City: kathmandu
The record count is 158 City: norman wells
The record count is 159 City: brainerd
The record count is 160 City: yumen
The record count is 161 City: straumen
The record count is 162 City: camacha
The record count is 163 City: teya
The record count is 164 City: vitim
The record count is 165 City: antsohihy
The record count is 166 City: kavieng
The record count is 167 City: la esperanza
The record count is 168 City: clyde river
The record count is 169 City: nador
The record count is 170 City: keflavik
Missing field/result... skipping.
The record count is 171 City: chokurdakh
The record count is 172 City: le marin
The record count is 173 City: tasiilaq
The record count is 174 City: udachnyy
The record count is 175 City: monrovia
The record count is 176 City: burnie
The record count is 177 City: kaitangata
Missing field/result... skipping.
The record count is 178 City: mackay
The record count is 179 City: lagoa
The record count is 180 City: bluff
The record count is 181 City: saint-georges
The record count is 182 City: naryan-mar
The record count is 183 City: port hedland
The record count is 184 City: hithadhoo
The record count is 185 City: beringovskiy
The record count is 186 City: codrington
The record count is 187 City: ilulissat
The record count is 188 City: coquimbo
The record count is 189 City: grand baie
The record count is 190 City: kaabong
The record count is 191 City: lazaro cardenas
The record count is 192 City: luanda
The record count is 193 City: rio gallegos
The record count is 194 City: namatanai
The record count is 195 City: severo-kurilsk
Missing field/result... skipping.
Missing field/result... skipping.
The record count is 196 City: mnogovershinnyy
The record count is 197 City: san rafael del sur
The record count is 198 City: paamiut
The record count is 199 City: ribeira grande
Missing field/result... skipping.

The record count is 200 City: mount gambier
The record count is 201 City: pesca
The record count is 202 City: mount isa
The record count is 203 City: le port
The record count is 204 City: hobart
The record count is 205 City: dublin
The record count is 206 City: salalah
The record count is 207 City: beisfjord
The record count is 208 City: ust-tsilma
The record count is 209 City: marawi
The record count is 210 City: samana
The record count is 211 City: koronowo
The record count is 212 City: ekimchan
The record count is 213 City: carnarvon
The record count is 214 City: saint-denis
The record count is 215 City: tabas
The record count is 216 City: san pedro
The record count is 217 City: aketi
The record count is 218 City: moses lake
The record count is 219 City: mocuba
The record count is 220 City: hamilton
The record count is 221 City: san juan del sur
The record count is 222 City: katobu
The record count is 223 City: banjar
The record count is 224 City: provideniya
The record count is 225 City: andradas
The record count is 226 City: bose
The record count is 227 City: manzhouli
The record count is 228 City: lockhart
The record count is 229 City: anadyr
The record count is 230 City: bandarbeyla
The record count is 231 City: buchach
The record count is 232 City: pasni
The record count is 233 City: tuktoyaktuk
The record count is 234 City: okha
The record count is 235 City: puerto escondido
The record count is 236 City: ancud
Missing field/result... skipping.
The record count is 237 City: port lincoln
The record count is 238 City: leningradskiy
The record count is 239 City: kajaani
The record count is 240 City: murray bridge
The record count is 241 City: rocha
The record count is 242 City: tagusao
The record count is 243 City: cobija
The record count is 244 City: port-gentil
The record count is 245 City: te anau
The record count is 246 City: hami
The record count is 247 City: pahrump
The record count is 248 City: fort frances
The record count is 249 City: umtata
Missing field/result... skipping.
The record count is 250 City: saint-leu
The record count is 251 City: jalu
The record count is 252 City: alice springs
Missing field/result... skipping.
The record count is 253 City: dingle
The record count is 254 City: bodden town
The record count is 255 City: griffith
The record count is 256 City: coihaique
The record count is 257 City: sao felix do xingu
The record count is 258 City: santa rosa
The record count is 259 City: goderich
The record count is 260 City: vila velha
The record count is 261 City: rabo de peixe
The record count is 262 City: soyo
The record count is 263 City: cayenne
The record count is 264 City: saldanha
The record count is 265 City: santa ines
The record count is 266 City: hasaki
The record count is 267 City: slave lake
The record count is 268 City: christchurch
The record count is 269 City: kibakwe
The record count is 270 City: luderitz
The record count is 271 City: san andres
The record count is 272 City: pangnirtung
The record count is 273 City: san quintin
The record count is 274 City: union
The record count is 275 City: dudinka
The record count is 276 City: florida
The record count is 277 City: madikeri
The record count is 278 City: esperance
The record count is 279 City: takoradi
The record count is 280 City: lokomotivnyy
Missing field/result... skipping.
The record count is 281 City: mogok
The record count is 282 City: mikkeli
The record count is 283 City: jiuquan
The record count is 284 City: betafo
The record count is 285 City: aitape
The record count is 286 City: alofi
The record count is 287 City: yulara
The record count is 288 City: kvarkeno
The record count is 289 City: salinopolis
The record count is 290 City: chunhuhub
The record count is 291 City: dunedin
The record count is 292 City: nioro
The record count is 293 City: upernavik
The record count is 294 City: airai
The record count is 295 City: balkanabat
The record count is 296 City: syumsi
The record count is 297 City: loukhi
The record count is 298 City: baruun-urt
The record count is 299 City: miraflores
The record count is 300 City: gunjur
The record count is 301 City: wajima
The record count is 302 City: buala
The record count is 303 City: acari
The record count is 304 City: banfora
The record count is 305 City: mandera
The record count is 306 City: tshikapa
The record count is 307 City: juneau
The record count is 308 City: sidney
The record count is 309 City: edd
The record count is 310 City: cockburn town
Missing field/result... skipping.
The record count is 311 City: vung tau
The record count is 312 City: mahon
Missing field/result... skipping.
The record count is 313 City: ishigaki
The record count is 314 City: morant bay
The record count is 315 City: raduzhnyy
The record count is 316 City: san patricio
The record count is 317 City: hulan ergi
The record count is 318 City: thayetmyo
The record count is 319 City: acapulco
The record count is 320 City: port shepstone
The record count is 321 City: tautira
The record count is 322 City: la libertad
The record count is 323 City: raymond
The record count is 324 City: road town
The record count is 325 City: yar-sale
The record count is 326 City: iwanai
The record count is 327 City: eseka
The record count is 328 City: chiredzi
The record count is 329 City: tigil
The record count is 330 City: avera
The record count is 331 City: muzhi
Missing field/result... skipping.
The record count is 332 City: chapais
The record count is 333 City: biak
The record count is 334 City: darhan
The record count is 335 City: daru
The record count is 336 City: onokhoy
The record count is 337 City: leh
The record count is 338 City: banda aceh
The record count is 339 City: alyangula
The record count is 340 City: sorland
The record count is 341 City: fort nelson
The record count is 342 City: boyolangu
The record count is 343 City: datong
The record count is 344 City: vila franca do campo
The record count is 345 City: akureyri
The record count is 346 City: ulladulla
The record count is 347 City: ust-barguzin
The record count is 348 City: pampierstad
The record count is 349 City: zyryanovsk
The record count is 350 City: cooma
The record count is 351 City: sfantu gheorghe
The record count is 352 City: carballo
The record count is 353 City: shimoda
The record count is 354 City: novonukutskiy
The record count is 355 City: reguengos de monsaraz
The record count is 356 City: ocean city
The record count is 357 City: qinhuangdao
The record count is 358 City: muskegon
The record count is 359 City: kargasok
The record count is 360 City: auki
The record count is 361 City: kayseri
The record count is 362 City: quanzhou
The record count is 363 City: nago
The record count is 364 City: medicine hat
The record count is 365 City: cherskiy
The record count is 366 City: santa maria
The record count is 367 City: north bend
The record count is 368 City: el alto
The record count is 369 City: geraldton
The record count is 370 City: souillac
The record count is 371 City: la ronge
The record count is 372 City: namibe
The record count is 373 City: westport
The record count is 374 City: juiz de fora
The record count is 375 City: lagos
The record count is 376 City: half moon bay
The record count is 377 City: nelson bay
The record count is 378 City: tuatapere
The record count is 379 City: grindavik
The record count is 380 City: xining
The record count is 381 City: kieta
The record count is 382 City: kalabo
The record count is 383 City: sambava
The record count is 384 City: wawa
The record count is 385 City: manama
The record count is 386 City: labuan
The record count is 387 City: wexford
The record count is 388 City: kyren
The record count is 389 City: boquira
The record count is 390 City: bathsheba
The record count is 391 City: ogbomosho
The record count is 392 City: longyearbyen
The record count is 393 City: diu
The record count is 394 City: shebalino
The record count is 395 City: kalat
The record count is 396 City: hare bay
The record count is 397 City: kirkuk
The record count is 398 City: tabou
The record count is 399 City: ahipara
The record count is 400 City: byron bay
The record count is 401 City: isangel
Missing field/result... skipping.
The record count is 402 City: susuman

The record count is 403 City: plattling
The record count is 404 City: arenapolis
The record count is 405 City: tocopilla
The record count is 406 City: arroyo
The record count is 407 City: hastings
The record count is 408 City: okhotsk
The record count is 409 City: maniitsoq
The record count is 410 City: meulaboh
The record count is 411 City: cartagena del chaira
The record count is 412 City: macau
The record count is 413 City: svodin
The record count is 414 City: victoria
The record count is 415 City: dong xoai
The record count is 416 City: zaysan
The record count is 417 City: sioux lookout
The record count is 418 City: waipawa
The record count is 419 City: vila do maio
The record count is 420 City: brae
The record count is 421 City: russkiy aktash
The record count is 422 City: kokstad
The record count is 423 City: lucapa
The record count is 424 City: birjand
The record count is 425 City: ingham
The record count is 426 City: henties bay
The record count is 427 City: tilichiki
The record count is 428 City: doha
The record count is 429 City: makakilo city
The record count is 430 City: lorengau
The record count is 431 City: anan
The record count is 432 City: synya
The record count is 433 City: thanatpin
The record count is 434 City: altagracia de orituco
The record count is 435 City: anqing
The record count is 436 City: nome
The record count is 437 City: lahaina
The record count is 438 City: hereford
The record count is 439 City: san ramon de la nueva oran
The record count is 440 City: manuk mangkaw
The record count is 441 City: prainha
The record count is 442 City: pacific grove
The record count is 443 City: tam ky
The record count is 444 City: atasu
The record count is 445 City: seshcha
The record count is 446 City: norilsk
The record count is 447 City: los teques
The record count is 448 City: san cristobal
The record count is 449 City: san ramon
The record count is 450 City: horta
The record count is 451 City: poum
The record count is 452 City: sawtell
The record count is 453 City: seoul
The record count is 454 City: plettenberg bay
The record count is 455 City: oranjestad
The record count is 456 City: belmonte
The record count is 457 City: bundaberg
The record count is 458 City: samarinda
The record count is 459 City: zhezkazgan
The record count is 460 City: abonnema
The record count is 461 City: narok
The record count is 462 City: muravlenko
The record count is 463 City: necochea
The record count is 464 City: talcahuano
The record count is 465 City: san-pedro
The record count is 466 City: bismarck
The record count is 467 City: pinotepa de don luis
The record count is 468 City: mizan teferi
The record count is 469 City: bonfim
Missing field/result... skipping.
The record count is 470 City: bouca
The record count is 471 City: bolobo
The record count is 472 City: nuuk
The record count is 473 City: baylo
The record count is 474 City: fuxin
The record count is 475 City: chernaya kholunitsa
The record count is 476 City: havelock
The record count is 477 City: traverse city
The record count is 478 City: champoton
The record count is 479 City: mandalgovi
The record count is 480 City: delemont
The record count is 481 City: chauk
The record count is 482 City: kambove
The record count is 483 City: tutoia
The record count is 484 City: touros
The record count is 485 City: babati
The record count is 486 City: graaff-reinet
The record count is 487 City: noumea
The record count is 488 City: pilot butte
The record count is 489 City: atar
The record count is 490 City: valenca do piaui
The record count is 491 City: natchez
The record count is 492 City: denpasar
The record count is 493 City: loikaw
The record count is 494 City: madaoua
The record count is 495 City: malindi
Missing field/result... skipping.
The record count is 496 City: bonito
The record count is 497 City: saint anthony
The record count is 498 City: high prairie
The record count is 499 City: high rock
The record count is 500 City: raudeberg
The record count is 501 City: kununurra
The record count is 502 City: mogadishu
The record count is 503 City: mecca
The record count is 504 City: viedma
The record count is 505 City: tomatlan
The record count is 506 City: lyuban
The record count is 507 City: bonavista
The record count is 508 City: hirara
The record count is 509 City: russell
The record count is 510 City: burns lake
The record count is 511 City: hakkari
Missing field/result... skipping.
The record count is 512 City: villaviciosa
The record count is 513 City: padang
The record count is 514 City: matam
The record count is 515 City: la seyne-sur-mer
The record count is 516 City: palu
The record count is 517 City: talmenka
The record count is 518 City: tamworth
The record count is 519 City: perth
The record count is 520 City: yabrud
Missing field/result... skipping.
The record count is 521 City: veraval
The record count is 522 City: novyy urgal
The record count is 523 City: tongren

        City Country      Lat      Lng
0  ostrovnoy      RU  68.0603   39.474
1  mahebourg      MU  -20.406  57.7034
2    qaanaaq      GL   77.467 -69.2285
3     zhuhai      CN   22.271  113.577
4  cape town      ZA -33.9249  18.4241

In [13]:
final_temp_pd = pd.DataFrame(temp_pd)
final_temp_pd.to_csv("../output_data/final_temp_pd.csv", index=False, header=True)

In [15]:
Humidity = cleaned_weather_data['Humidity']
temp_pd.dtypes

NameError: name 'cleaned_weather_data' is not defined

In [16]:
file1 = "../output_data/cleaned_weather_data.csv"
humidity_heatmap = pd.read_csv(file1)
humidity_heatmap.head()

,Unnamed: 0,City,Country,Lat,Lng,City_Name,Humidity,Max_Temp,Wind_Speed,Cloudiness,Date
0,0,ostrovnoy,RU,68.06,39.47,Ostrovnoy,81,45.41,16.33,0,1601435961
1,1,mahebourg,MU,-20.41,57.70,Mahébourg,83,71.60,11.41,75,1601435962
2,2,qaanaaq,GL,77.47,-69.23,Qaanaaq,80,12.33,6.96,2,1601435962
3,3,zhuhai,CN,22.27,113.58,Zhuhai,79,91.99,5.82,20,1601435962
4,4,cape town,ZA,-33.92,18.42,De Waterkant,76,53.60,10.29,17,1601435963

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
Humidity = humidity_heatmap['Humidity']
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

locations = humidity_heatmap[['Lat','Lng']]
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity,
                                dissipating=False, max_intensity=100,
                                point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [40]:
humidity_heatmap['Hotel Name']= ""
hotel_df = pd.DataFrame(humidity_heatmap)
 
hotel_df

,Unnamed: 0,City,Country,Lat,Lng,City_Name,Humidity,Max_Temp,Wind_Speed,Cloudiness,Date,Hotel Name
0,0,ostrovnoy,RU,68.06,39.47,Ostrovnoy,81,45.41,16.33,0,1601435961,
1,1,mahebourg,MU,-20.41,57.70,Mahébourg,83,71.60,11.41,75,1601435962,
2,2,qaanaaq,GL,77.47,-69.23,Qaanaaq,80,12.33,6.96,2,1601435962,
3,3,zhuhai,CN,22.27,113.58,Zhuhai,79,91.99,5.82,20,1601435962,
4,4,cape town,ZA,-33.92,18.42,De Waterkant,76,53.60,10.29,17,1601435963,
5,5,atuona,PF,-9.80,-139.04,Atuona,76,77.97,18.90,0,1601435963,
6,6,flinders,AU,-35.02,138.57,Marion,77,62.01,14.99,90,1601435964,
7,7,tiksi,RU,71.64,128.86,Tiksi,95,34.18,14.88,100,1601435964,
8,8,pushkinskiye gory,RU,57.02,28.91,Pushkinskiye Gory,99,46.26,4.81,3,1601435964,
9,9,aykhal,RU,65.94,111.49,Aykhal,79,24.80,6.71,90,1601435965,
10,10,castro,CL,-42.48,-73.76,Castro,86,41.00,11.41,100,1601435965,
11,11,avarua,CK,-21.21,-159.78,Avarua,78,78.80,25.28,41,1601435966,
12,12,saskylakh,RU,71.95,114.12,Saskylakh,93,30.63,6.04,3,1601435966,
13,13,albany,US,42.65,-73.76,Albany,95,57.99,0.67,100,1601435833,
14,14,vilyuysk,RU,63.75,121.63,Vilyuysk,75,36.43,6.13,5,1601435967,
15,15,ushuaia,AR,-54.80,-68.30,Ushuaia,80,33.80,21.92,75,1601435967,
16,16,bambous virieux,MU,-20.34,57.76,Bambous Virieux,83,73.00,11.41,75,1601435967,
17,17,kodinsk,RU,58.61,99.18,Kodinsk,83,34.68,5.01,0,1601435968,
18,18,teknaf,BD,21.06,92.20,Teknāf,73,84.90,6.26,63,1601435968,
19,19,busselton,AU,-33.65,115.35,Busselton,82,64.00,7.00,98,1601435968,
20,20,ambon,FR,47.55,-2.56,Ambon,93,60.80,6.93,83,1601435828,
21,21,maragogi,BR,-9.01,-35.22,Maragogi,80,74.19,8.41,28,1601435969,
22,22,fallon,US,39.47,-118.78,Fallon,25,70.00,5.82,40,1601435969,
23,23,kantang,TH,7.41,99.52,Kantang,79,84.20,1.90,20,1601435970,
24,24,colonelganj,IN,27.13,81.70,Colonelganj,58,80.91,3.20,0,1601435970,
25,25,punta arenas,CL,-53.16,-70.92,Punta Arenas,86,33.80,18.34,75,1601435970,
26,26,rikitea,PF,-23.12,-134.97,Rikitea,78,69.78,22.55,76,1601435971,
27,27,new norfolk,AU,-42.78,147.06,New Norfolk,63,66.00,3.00,100,1601435971,
28,28,qingdao,CN,36.07,120.38,Qingdao,40,72.00,20.13,0,1601435972,
29,29,port hardy,CA,50.71,-127.46,Port Hardy,100,55.40,2.24,40,1601435972,
...,...,...,...,...,...,...,...,...,...,...,...,...
486,486,madaoua,NE,14.08,5.96,Madaoua,62,82.49,7.90,95,1601436181,
487,487,malindi,KE,-3.22,40.12,Malindi,78,76.39,6.87,89,1601436181,
488,488,bonito,BR,-21.13,-56.48,Bonito,43,80.64,0.58,22,1601436182,
489,489,saint anthony,US,45.02,-93.22,Saint Anthony,62,55.99,5.82,1,1601436183,
490,490,high prairie,CA,55.43,-116.49,High Prairie,60,44.19,6.53,0,1601436183,
491,491,high rock,BS,26.62,-78.28,High Rock,76,83.53,11.21,31,1601436184,
492,492,raudeberg,NO,61.98,5.14,Måløy,96,50.00,3.53,100,1601436184,
493,493,kununurra,AU,-15.60,128.77,Kununurra,32,98.60,4.70,16,1601436185,
494,494,mogadishu,SO,2.05,45.32,Mogadishu,80,76.98,13.15,0,1601436186,
495,495,mecca,SA,21.39,39.86,Makkah al Mukarramah,75,76.53,2.01,0,1601436186,
496,496,viedma,AR,-40.81,-63.00,Viedma,30,60.24,13.51,100,1601436024,
497,497,tomatlan,MX,19.93,-105.25,Tomatlán,89,77.50,2.57,86,1601436187,
498,498,lyuban,BY,52.79,28.00,Lyuban',74,54.63,11.54,100,1601436188,
499,499,bonavista,CA,48.65,-53.11,Bonavista,91,60.21,16.93,25,1601436188,
500,500,hirara,JP,24.82,125.31,Hirara,69,82.40,12.75,75,1601436189,
501,501,russell,AR,35.36,-91.51,Bald Knob,100,55.99,4.16,1,1601436189,
502,502,burns lake,CA,54.23,-125.76,Burns Lake,90,45.54,1.74,76,1601436190,
503,503,hakkari,FI,37.58,43.74,Hakkâri,59,48.94,4.59,0,1601436190,
504,504,villaviciosa,ES,43.48,-5.44,Villaviciosa,77,55.99,3.42,0,1601436190,
505,505,padang,ID,-0.95,100.42,Lubukbergalung,57,86.83,2.15,56,1601436191,
506,506,matam,SN,15.66,-13.26,Matam,89,84.20,4.70,4,1601436191,
507,507,la seyne-sur-mer,FR,43.10,5.88,La Seyne-sur-Mer,87,54.00,3.60,22,1601436192,
508,508,palu,ID,-0.87,119.90,Palu,52,88.45,2.64,86,1601436192,
509,509,talmenka,RU,53.82,83.56,Tal'menka,74,33.80,8.95,1,1601436193,
510,510,tamworth,AU,-31.09,150.93,Tamworth,48,66.20,11.41,75,1601436193,
511,511,perth,GB,56.39,-3.43,Perth,10,48.99,6.78,95,1601436194,
512,512,yabrud,SY,33.97,36.66,Yabrūd,68,64.40,6.93,0,1601436194,
513,513,veraval,FR,20.92,70.36,Verāval,77,80.13,10.71,14,1601436194,
514,514,novyy urgal,RU,51.07,132.60,Novyy Urgal,50,53.01,1.61,0,1601436195,
515,515,tongren,CN,27.73,109.19,Tongren,85,67.21,3.91,100,1601436195,

In [50]:
base_url1 = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count = 0
g_key = "AIzaSyCKTNg9F8RvUYuTMfntKABfeR-MHKtLGbM"

for index, row in hotel_df.iterrows(): 
    latitude = str(row['Lat'])
    longitude = str(row['Lng'])
    city = row['City']
    country = row['Country']
    
    #print(f"Results for Index {index}: {city}.")
    response = requests.get(f"{base_url1}?location={latitude},{longitude}&radius=5000&type=hotel&keyword={city}&key={g_key}") 
    #print(response)
    
    results = response.json()                     
     
   
    try:
        hotel_df.loc[index, 'Hotel Name'] = results['results'][0]['name']
        count += 1
        print(f'The record count is {count} City: {city}')
    except:
        print("skipping no record found results")
len(hotel_df)

The record count is 1 City: ostrovnoy
The record count is 2 City: mahebourg
The record count is 3 City: qaanaaq
The record count is 4 City: zhuhai
The record count is 5 City: cape town
The record count is 6 City: atuona
The record count is 7 City: flinders
The record count is 8 City: tiksi
The record count is 9 City: pushkinskiye gory
The record count is 10 City: aykhal
The record count is 11 City: castro
The record count is 12 City: avarua
The record count is 13 City: saskylakh
The record count is 14 City: albany
The record count is 15 City: vilyuysk
The record count is 16 City: ushuaia
The record count is 17 City: bambous virieux
The record count is 18 City: kodinsk
The record count is 19 City: teknaf
The record count is 20 City: busselton
The record count is 21 City: ambon
The record count is 22 City: maragogi
The record count is 23 City: fallon
The record count is 24 City: kantang
The record count is 25 City: colonelganj
The record count is 26 City: punta arenas
The record count is 27 City: rikitea
The record count is 28 City: new norfolk
The record count is 29 City: qingdao
The record count is 30 City: port hardy
The record count is 31 City: mamakan
The record count is 32 City: bethel
The record count is 33 City: clinton
The record count is 34 City: varhaug
The record count is 35 City: mayor pablo lagerenza
The record count is 36 City: hermanus
skipping no record found results
The record count is 37 City: yellowknife
The record count is 38 City: kruisfontein
The record count is 39 City: puerto ayora
The record count is 40 City: rosita
The record count is 41 City: beloha
skipping no record found results
The record count is 42 City: port alfred
The record count is 43 City: garchitorena
The record count is 44 City: kodiak
The record count is 45 City: mar del plata
The record count is 46 City: cabo san lucas
The record count is 47 City: tiarei
The record count is 48 City: khatanga
The record count is 49 City: pisco
The record count is 50 City: kolyvan
The record count is 51 City: hofn
The record count is 52 City: bontang
The record count is 53 City: sault sainte marie
The record count is 54 City: zhigansk
The record count is 55 City: thompson
The record count is 56 City: pevek
The record count is 57 City: nanortalik
The record count is 58 City: bilibino
The record count is 59 City: dikson
The record count is 60 City: hambantota
The record count is 61 City: beja
The record count is 62 City: ponta do sol
The record count is 63 City: qasigiannguit
The record count is 64 City: butaritari
The record count is 65 City: virginia beach
The record count is 66 City: hobyo
The record count is 67 City: saint george
The record count is 68 City: pontes e lacerda
The record count is 69 City: crotone
The record count is 70 City: baglung
The record count is 71 City: raglan
skipping no record found results
The record count is 72 City: araouane
The record count is 73 City: emerald
The record count is 74 City: launceston
The record count is 75 City: nikolskoye
The record count is 76 City: ambilobe
The record count is 77 City: cidreira
The record count is 78 City: ternate
The record count is 79 City: tarauaca
The record count is 80 City: bella vista
The record count is 81 City: xichang
The record count is 82 City: antioch
The record count is 83 City: najran
The record count is 84 City: agirish
The record count is 85 City: mataura
The record count is 86 City: katsuura
The record count is 87 City: shalinskoye
The record count is 88 City: barrow
The record count is 89 City: sorong
The record count is 90 City: kingston
The record count is 91 City: ketchikan
The record count is 92 City: kapaa
The record count is 93 City: mbigou
The record count is 94 City: yakeshi
The record count is 95 City: hilo
The record count is 96 City: whitehorse
The record count is 97 City: bonthe
The record count is 98 City: lompoc
The record count is 99 City: port blair
The record count is 100 City: bredasdorp
The record count is 101 City: thinadhoo
The record count is 102 City: koumac
The record count is 103 City: faanui
skipping no record found results
skipping no record found results
The record count is 104 City: sao filipe
The record count is 105 City: deputatskiy
The record count is 106 City: chuy
The record count is 107 City: sitka
The record count is 108 City: forio
The record count is 109 City: russkaya polyana
skipping no record found results
The record count is 110 City: arraial do cabo
skipping no record found results
The record count is 111 City: aklavik
The record count is 112 City: lokosovo
The record count is 113 City: paita
The record count is 114 City: cravo norte
The record count is 115 City: motygino
The record count is 116 City: west wendover
The record count is 117 City: adrar
The record count is 118 City: melfi
The record count is 119 City: kibaya
The record count is 120 City: iqaluit
The record count is 121 City: lavrentiya
The record count is 122 City: morondava
The record count is 123 City: vaini
skipping no record found results
The record count is 124 City: sanchazi
The record count is 125 City: sarai mir
The record count is 126 City: yichun
The record count is 127 City: plainview
The record count is 128 City: comodoro rivadavia
The record count is 129 City: nardaran
The record count is 130 City: nagua
The record count is 131 City: ganzhou
The record count is 132 City: talnakh
The record count is 133 City: coahuayana
The record count is 134 City: sinnamary
The record count is 135 City: porto novo
The record count is 136 City: havoysund
The record count is 137 City: bjornevatn
The record count is 138 City: narsaq
The record count is 139 City: charlestown
The record count is 140 City: trat
The record count is 141 City: manado
The record count is 142 City: trapani
The record count is 143 City: sao joao da barra
The record count is 144 City: saint-philippe
The record count is 145 City: haines junction
The record count is 146 City: kathmandu
The record count is 147 City: norman wells
The record count is 148 City: brainerd
The record count is 149 City: yumen
The record count is 150 City: straumen
The record count is 151 City: camacha
The record count is 152 City: teya
The record count is 153 City: vitim
The record count is 154 City: antsohihy
The record count is 155 City: kavieng
The record count is 156 City: la esperanza
The record count is 157 City: clyde river
The record count is 158 City: nador
The record count is 159 City: keflavik
The record count is 160 City: chokurdakh
The record count is 161 City: le marin
The record count is 162 City: tasiilaq
The record count is 163 City: udachnyy
The record count is 164 City: monrovia
The record count is 165 City: burnie
The record count is 166 City: kaitangata
The record count is 167 City: mackay
The record count is 168 City: lagoa
The record count is 169 City: bluff
The record count is 170 City: saint-georges
The record count is 171 City: naryan-mar
The record count is 172 City: port hedland
The record count is 173 City: hithadhoo
The record count is 174 City: beringovskiy
skipping no record found results
The record count is 175 City: ilulissat
The record count is 176 City: coquimbo
The record count is 177 City: grand baie
The record count is 178 City: kaabong
The record count is 179 City: lazaro cardenas
The record count is 180 City: luanda
The record count is 181 City: rio gallegos
The record count is 182 City: namatanai
The record count is 183 City: severo-kurilsk
The record count is 184 City: san rafael del sur
The record count is 185 City: paamiut
The record count is 186 City: ribeira grande
The record count is 187 City: mount gambier
The record count is 188 City: pesca
The record count is 189 City: mount isa
The record count is 190 City: le port
The record count is 191 City: hobart
The record count is 192 City: dublin
The record count is 193 City: salalah
The record count is 194 City: beisfjord
The record count is 195 City: ust-tsilma
The record count is 196 City: marawi
The record count is 197 City: samana
The record count is 198 City: koronowo
The record count is 199 City: ekimchan
The record count is 200 City: carnarvon
The record count is 201 City: saint-denis
The record count is 202 City: tabas
skipping no record found results

The record count is 203 City: aketi
The record count is 204 City: moses lake
The record count is 205 City: mocuba
skipping no record found results
The record count is 206 City: san juan del sur
The record count is 207 City: katobu
The record count is 208 City: banjar
The record count is 209 City: provideniya
The record count is 210 City: andradas
The record count is 211 City: bose
The record count is 212 City: manzhouli
skipping no record found results
The record count is 213 City: anadyr
The record count is 214 City: bandarbeyla
The record count is 215 City: buchach
The record count is 216 City: pasni
The record count is 217 City: tuktoyaktuk
The record count is 218 City: okha
The record count is 219 City: puerto escondido
The record count is 220 City: ancud
The record count is 221 City: port lincoln
The record count is 222 City: leningradskiy
The record count is 223 City: kajaani
The record count is 224 City: murray bridge
The record count is 225 City: rocha
skipping no record found results
The record count is 226 City: cobija
The record count is 227 City: port-gentil
The record count is 228 City: te anau
The record count is 229 City: hami
The record count is 230 City: pahrump
The record count is 231 City: fort frances
The record count is 232 City: umtata
The record count is 233 City: saint-leu
The record count is 234 City: jalu
The record count is 235 City: alice springs
The record count is 236 City: dingle
The record count is 237 City: bodden town
The record count is 238 City: griffith
The record count is 239 City: coihaique
The record count is 240 City: sao felix do xingu
skipping no record found results
The record count is 241 City: goderich
The record count is 242 City: vila velha
The record count is 243 City: rabo de peixe
The record count is 244 City: soyo
The record count is 245 City: cayenne
skipping no record found results
The record count is 246 City: santa ines
The record count is 247 City: hasaki
The record count is 248 City: slave lake
The record count is 249 City: christchurch
The record count is 250 City: kibakwe
skipping no record found results
The record count is 251 City: pangnirtung
skipping no record found results
skipping no record found results
The record count is 252 City: dudinka
skipping no record found results
The record count is 253 City: madikeri
skipping no record found results
The record count is 254 City: takoradi
The record count is 255 City: lokomotivnyy
The record count is 256 City: mogok
The record count is 257 City: mikkeli
The record count is 258 City: jiuquan
The record count is 259 City: betafo
The record count is 260 City: aitape
The record count is 261 City: alofi
The record count is 262 City: yulara
The record count is 263 City: kvarkeno
The record count is 264 City: salinopolis
The record count is 265 City: chunhuhub
skipping no record found results
skipping no record found results
The record count is 266 City: upernavik
The record count is 267 City: airai
The record count is 268 City: balkanabat
The record count is 269 City: syumsi
The record count is 270 City: loukhi
The record count is 271 City: baruun-urt
The record count is 272 City: miraflores
The record count is 273 City: gunjur
The record count is 274 City: wajima
The record count is 275 City: buala
The record count is 276 City: acari
The record count is 277 City: banfora
The record count is 278 City: mandera
The record count is 279 City: tshikapa
The record count is 280 City: juneau
The record count is 281 City: sidney
skipping no record found results
The record count is 282 City: cockburn town
The record count is 283 City: vung tau
skipping no record found results
skipping no record found results
The record count is 284 City: morant bay
The record count is 285 City: raduzhnyy
skipping no record found results
The record count is 286 City: hulan ergi
The record count is 287 City: thayetmyo
The record count is 288 City: acapulco
The record count is 289 City: port shepstone
The record count is 290 City: tautira
The record count is 291 City: la libertad
The record count is 292 City: raymond
The record count is 293 City: road town
The record count is 294 City: yar-sale
The record count is 295 City: iwanai
The record count is 296 City: eseka
The record count is 297 City: chiredzi
The record count is 298 City: tigil
The record count is 299 City: avera
The record count is 300 City: muzhi
The record count is 301 City: chapais
The record count is 302 City: biak
The record count is 303 City: darhan
skipping no record found results
The record count is 304 City: onokhoy
The record count is 305 City: leh
The record count is 306 City: banda aceh
The record count is 307 City: alyangula
The record count is 308 City: sorland
The record count is 309 City: fort nelson
The record count is 310 City: boyolangu
The record count is 311 City: datong
The record count is 312 City: vila franca do campo
The record count is 313 City: akureyri
The record count is 314 City: ulladulla
The record count is 315 City: ust-barguzin
The record count is 316 City: pampierstad
The record count is 317 City: zyryanovsk
The record count is 318 City: cooma
The record count is 319 City: sfantu gheorghe
The record count is 320 City: carballo
The record count is 321 City: shimoda
The record count is 322 City: novonukutskiy
The record count is 323 City: reguengos de monsaraz
The record count is 324 City: ocean city
The record count is 325 City: qinhuangdao
The record count is 326 City: muskegon
The record count is 327 City: kargasok
The record count is 328 City: auki
The record count is 329 City: kayseri
The record count is 330 City: quanzhou
skipping no record found results
The record count is 331 City: medicine hat
The record count is 332 City: cherskiy
skipping no record found results
The record count is 333 City: north bend
The record count is 334 City: el alto
skipping no record found results
The record count is 335 City: souillac
The record count is 336 City: la ronge
The record count is 337 City: namibe
The record count is 338 City: westport
The record count is 339 City: juiz de fora
The record count is 340 City: lagos
The record count is 341 City: half moon bay
The record count is 342 City: nelson bay
The record count is 343 City: tuatapere
The record count is 344 City: grindavik
The record count is 345 City: xining
The record count is 346 City: kieta
The record count is 347 City: kalabo
The record count is 348 City: sambava
skipping no record found results
The record count is 349 City: manama
The record count is 350 City: labuan
The record count is 351 City: wexford
The record count is 352 City: kyren
The record count is 353 City: boquira
The record count is 354 City: bathsheba
The record count is 355 City: ogbomosho
The record count is 356 City: longyearbyen
The record count is 357 City: diu
The record count is 358 City: shebalino
The record count is 359 City: kalat
The record count is 360 City: hare bay
The record count is 361 City: kirkuk
The record count is 362 City: tabou
The record count is 363 City: ahipara
The record count is 364 City: byron bay
The record count is 365 City: isangel
The record count is 366 City: susuman
The record count is 367 City: plattling
The record count is 368 City: arenapolis
The record count is 369 City: tocopilla
The record count is 370 City: arroyo
The record count is 371 City: hastings
The record count is 372 City: okhotsk
The record count is 373 City: maniitsoq
The record count is 374 City: meulaboh
The record count is 375 City: cartagena del chaira
The record count is 376 City: macau
The record count is 377 City: svodin
The record count is 378 City: victoria
The record count is 379 City: dong xoai
The record count is 380 City: zaysan
The record count is 381 City: sioux lookout
The record count is 382 City: waipawa
The record count is 383 City: vila do maio
The record count is 384 City: russkiy aktash
The record count is 385 City: kokstad
The record count is 386 City: lucapa
The record count is 387 City: birjand
The record count is 388 City: ingham
The record count is 389 City: tilichiki
The record count is 390 City: doha
The record count is 391 City: makakilo city
The record count is 392 City: lorengau
The record count is 393 City: anan

The record count is 394 City: synya
The record count is 395 City: thanatpin
The record count is 396 City: altagracia de orituco
The record count is 397 City: anqing
The record count is 398 City: nome
The record count is 399 City: lahaina
The record count is 400 City: hereford
The record count is 401 City: san ramon de la nueva oran
The record count is 402 City: manuk mangkaw
skipping no record found results
The record count is 403 City: pacific grove
The record count is 404 City: tam ky
skipping no record found results
The record count is 405 City: seshcha
The record count is 406 City: norilsk
The record count is 407 City: los teques
skipping no record found results
The record count is 408 City: san ramon
The record count is 409 City: horta
The record count is 410 City: poum
The record count is 411 City: sawtell
The record count is 412 City: seoul
The record count is 413 City: plettenberg bay
The record count is 414 City: oranjestad
The record count is 415 City: belmonte
The record count is 416 City: bundaberg
The record count is 417 City: samarinda
The record count is 418 City: zhezkazgan
The record count is 419 City: abonnema
The record count is 420 City: narok
The record count is 421 City: muravlenko
The record count is 422 City: necochea
The record count is 423 City: talcahuano
skipping no record found results
The record count is 424 City: bismarck
The record count is 425 City: pinotepa de don luis
The record count is 426 City: mizan teferi
The record count is 427 City: bonfim
The record count is 428 City: bouca
The record count is 429 City: bolobo
The record count is 430 City: nuuk
skipping no record found results
The record count is 431 City: fuxin
The record count is 432 City: chernaya kholunitsa
The record count is 433 City: havelock
The record count is 434 City: traverse city
The record count is 435 City: champoton
The record count is 436 City: mandalgovi
The record count is 437 City: delemont
The record count is 438 City: chauk
The record count is 439 City: kambove
The record count is 440 City: tutoia
The record count is 441 City: touros
The record count is 442 City: babati
The record count is 443 City: graaff-reinet
The record count is 444 City: noumea
The record count is 445 City: pilot butte
The record count is 446 City: atar
The record count is 447 City: valenca do piaui
The record count is 448 City: natchez
The record count is 449 City: denpasar
The record count is 450 City: loikaw
The record count is 451 City: madaoua
The record count is 452 City: malindi
The record count is 453 City: bonito
The record count is 454 City: saint anthony
The record count is 455 City: high prairie
The record count is 456 City: high rock
The record count is 457 City: raudeberg
The record count is 458 City: kununurra
The record count is 459 City: mogadishu
The record count is 460 City: mecca
The record count is 461 City: viedma
The record count is 462 City: tomatlan
The record count is 463 City: lyuban
The record count is 464 City: bonavista
The record count is 465 City: hirara
The record count is 466 City: russell
The record count is 467 City: burns lake
The record count is 468 City: hakkari
The record count is 469 City: villaviciosa
The record count is 470 City: padang
The record count is 471 City: matam
The record count is 472 City: la seyne-sur-mer
The record count is 473 City: palu
The record count is 474 City: talmenka
The record count is 475 City: tamworth
skipping no record found results
The record count is 476 City: yabrud
The record count is 477 City: veraval
The record count is 478 City: novyy urgal
The record count is 479 City: tongren

516

In [55]:
hotel_df

,Unnamed: 0,City,Country,Lat,Lng,City_Name,Humidity,Max_Temp,Wind_Speed,Cloudiness,Date,Hotel Name
0,0,ostrovnoy,RU,68.06,39.47,Ostrovnoy,81,45.41,16.33,0,1601435961,Ostrovnoy
1,1,mahebourg,MU,-20.41,57.70,Mahébourg,83,71.60,11.41,75,1601435962,Mahebourg
2,2,qaanaaq,GL,77.47,-69.23,Qaanaaq,80,12.33,6.96,2,1601435962,Qaanaaq
3,3,zhuhai,CN,22.27,113.58,Zhuhai,79,91.99,5.82,20,1601435962,Zhuhai
4,4,cape town,ZA,-33.92,18.42,De Waterkant,76,53.60,10.29,17,1601435963,Cape Town
5,5,atuona,PF,-9.80,-139.04,Atuona,76,77.97,18.90,0,1601435963,Atuona
6,6,flinders,AU,-35.02,138.57,Marion,77,62.01,14.99,90,1601435964,Flinders University
7,7,tiksi,RU,71.64,128.86,Tiksi,95,34.18,14.88,100,1601435964,Tiksi
8,8,pushkinskiye gory,RU,57.02,28.91,Pushkinskiye Gory,99,46.26,4.81,3,1601435964,Pushkinskiye Gory
9,9,aykhal,RU,65.94,111.49,Aykhal,79,24.80,6.71,90,1601435965,Aykhal
10,10,castro,CL,-42.48,-73.76,Castro,86,41.00,11.41,100,1601435965,Castro
11,11,avarua,CK,-21.21,-159.78,Avarua,78,78.80,25.28,41,1601435966,Avarua District
12,12,saskylakh,RU,71.95,114.12,Saskylakh,93,30.63,6.04,3,1601435966,Saskylakh
13,13,albany,US,42.65,-73.76,Albany,95,57.99,0.67,100,1601435833,Albany
14,14,vilyuysk,RU,63.75,121.63,Vilyuysk,75,36.43,6.13,5,1601435967,Vilyuysk
15,15,ushuaia,AR,-54.80,-68.30,Ushuaia,80,33.80,21.92,75,1601435967,Ushuaia
16,16,bambous virieux,MU,-20.34,57.76,Bambous Virieux,83,73.00,11.41,75,1601435967,Bambous Virieux
17,17,kodinsk,RU,58.61,99.18,Kodinsk,83,34.68,5.01,0,1601435968,Kodinsk
18,18,teknaf,BD,21.06,92.20,Teknāf,73,84.90,6.26,63,1601435968,Teknaf Upazila
19,19,busselton,AU,-33.65,115.35,Busselton,82,64.00,7.00,98,1601435968,Busselton
20,20,ambon,FR,47.55,-2.56,Ambon,93,60.80,6.93,83,1601435828,Route d'Ambon
21,21,maragogi,BR,-9.01,-35.22,Maragogi,80,74.19,8.41,28,1601435969,Maragogi
22,22,fallon,US,39.47,-118.78,Fallon,25,70.00,5.82,40,1601435969,Fallon
23,23,kantang,TH,7.41,99.52,Kantang,79,84.20,1.90,20,1601435970,Kantang District
24,24,colonelganj,IN,27.13,81.70,Colonelganj,58,80.91,3.20,0,1601435970,Colonelganj
25,25,punta arenas,CL,-53.16,-70.92,Punta Arenas,86,33.80,18.34,75,1601435970,Punta Arenas
26,26,rikitea,PF,-23.12,-134.97,Rikitea,78,69.78,22.55,76,1601435971,Rikitea
27,27,new norfolk,AU,-42.78,147.06,New Norfolk,63,66.00,3.00,100,1601435971,New Norfolk
28,28,qingdao,CN,36.07,120.38,Qingdao,40,72.00,20.13,0,1601435972,Qingdao
29,29,port hardy,CA,50.71,-127.46,Port Hardy,100,55.40,2.24,40,1601435972,Port Hardy
...,...,...,...,...,...,...,...,...,...,...,...,...
486,486,madaoua,NE,14.08,5.96,Madaoua,62,82.49,7.90,95,1601436181,Madaoua
487,487,malindi,KE,-3.22,40.12,Malindi,78,76.39,6.87,89,1601436181,Malindi
488,488,bonito,BR,-21.13,-56.48,Bonito,43,80.64,0.58,22,1601436182,Bonito
489,489,saint anthony,US,45.02,-93.22,Saint Anthony,62,55.99,5.82,1,1601436183,St Anthony
490,490,high prairie,CA,55.43,-116.49,High Prairie,60,44.19,6.53,0,1601436183,High Prairie
491,491,high rock,BS,26.62,-78.28,High Rock,76,83.53,11.21,31,1601436184,High Rock
492,492,raudeberg,NO,61.98,5.14,Måløy,96,50.00,3.53,100,1601436184,Raudeberg
493,493,kununurra,AU,-15.60,128.77,Kununurra,32,98.60,4.70,16,1601436185,Kununurra
494,494,mogadishu,SO,2.05,45.32,Mogadishu,80,76.98,13.15,0,1601436186,Mogadishu
495,495,mecca,SA,21.39,39.86,Makkah al Mukarramah,75,76.53,2.01,0,1601436186,Mecca
496,496,viedma,AR,-40.81,-63.00,Viedma,30,60.24,13.51,100,1601436024,Viedma
497,497,tomatlan,MX,19.93,-105.25,Tomatlán,89,77.50,2.57,86,1601436187,Tomatlán
498,498,lyuban,BY,52.79,28.00,Lyuban',74,54.63,11.54,100,1601436188,Lyuban
499,499,bonavista,CA,48.65,-53.11,Bonavista,91,60.21,16.93,25,1601436188,Bonavista
500,500,hirara,JP,24.82,125.31,Hirara,69,82.40,12.75,75,1601436189,Hirara
501,501,russell,AR,35.36,-91.51,Bald Knob,100,55.99,4.16,1,1601436189,Russell
502,502,burns lake,CA,54.23,-125.76,Burns Lake,90,45.54,1.74,76,1601436190,Burns Lake
503,503,hakkari,FI,37.58,43.74,Hakkâri,59,48.94,4.59,0,1601436190,Hakkâri
504,504,villaviciosa,ES,43.48,-5.44,Villaviciosa,77,55.99,3.42,0,1601436190,Villaviciosa
505,505,padang,ID,-0.95,100.42,Lubukbergalung,57,86.83,2.15,56,1601436191,Padang
506,506,matam,SN,15.66,-13.26,Matam,89,84.20,4.70,4,1601436191,Matam
507,507,la seyne-sur-mer,FR,43.10,5.88,La Seyne-sur-Mer,87,54.00,3.60,22,1601436192,La Seyne-sur-Mer
508,508,palu,ID,-0.87,119.90,Palu,52,88.45,2.64,86,1601436192,Palu City
509,509,talmenka,RU,53.82,83.56,Tal'menka,74,33.80,8.95,1,1601436193,Tal'menka
510,510,tamworth,AU,-31.09,150.93,Tamworth,48,66.20,11.41,75,1601436193,Tamworth
511,511,perth,GB,56.39,-3.43,Perth,10,48.99,6.78,95,1601436194,
512,512,yabrud,SY,33.97,36.66,Yabrūd,68,64.40,6.93,0,1601436194,Yabrud
513,513,veraval,FR,20.92,70.36,Verāval,77,80.13,10.71,14,1601436194,Veraval
514,514,novyy urgal,RU,51.07,132.60,Novyy Urgal,50,53.01,1.61,0,1601436195,Novy Urgal
515,515,tongren,CN,27.73,109.19,Tongren,85,67.21,3.91,100,1601436195,Tongren

In [56]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [58]:
# Add marker layer ontop of heat map
marker_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2
)


fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))